@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-8">


        <h4 class="text-info"><i class="fa fa-search"></i> Start searching</h4>
        <p class="text-muted">
            Demo data is about Blog articles and bloggers.
            Compare the two different search experiences by entering some terms like 'fashion' or 'toby':
        </p>

        <div class="row">
            <div class="col-md-6">

                <label>Adaptive Facets</label>

                <form action="@Url.Action("SearchAdaptive")" method="Get">
                    <div class="input-group">
                        <input type="text" name="SearchTerm" placeholder="One or more search terms" class="form-control" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </form>
            </div>

            <div class="col-md-6">

                <label>Checkbox Facets</label>

                <form action="@Url.Action("SearchCheckboxed")" method="Get">
                    <div class="input-group">
                        <input type="text" name="SearchTerm" placeholder="One or more search terms" class="form-control" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                    </form>

            </div>
        </div>
        

        <h4 class="text-info" style="margin-top:40px;"><i class="fa fa-plus"></i> Add some data</h4>
        <p class="text-muted">
            Add some documents to the index yourself:
        </p>

    </div>
    <div class="col-md-4">
        <div class="alert alert-info">
            <strong><i class="fa fa-info-circle"></i> Demo data</strong><br /> is created in Global.asax. Delete the index with elasticsearch and restart the .NET application to recreate index.
        </div>
    </div>
</div>
